.home_container {
  background-color: red;
  color: red;

  h1 {
    background-color: $color-setter;
    color: blue;

    p {
      background-color: greenyellow;
      color: blue;

      &:hover {
        background-color: blue;
        color: greenyellow;
      }
    }
  }
}
